<div class="container">

  <div class="row">
    <div class="col-lg-4">
      <label class="btn btn-success">
        Выбрать onliner csv
        <input type="file" (change)="loadFile($event.srcElement.files[0], pricesUpdater.loadOnlinerCsv.bind(pricesUpdater), 'loadFromOnlinerState')"
               style="display: none;">
      </label>
    </div>
    <div class="col-lg-8">
      <div class="alert" role="alert"
           [ngClass]="{'alert-danger': loadFromOnlinerState.warningColor, 'alert-success': !loadFromOnlinerState.warningColor}">
        {{loadFromOnlinerState.text}}
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-lg-4">
      <label class="btn btn-success">
        Выбрать woocommerce csv
        <input type="file" (change)="loadFile($event.srcElement.files[0], pricesUpdater.loadSiteCsv.bind(pricesUpdater), 'loadFromSiteState')"
               style="display: none;">
      </label>
    </div>
    <div class="col-lg-8">
      <div class="alert" role="alert"
           [ngClass]="{'alert-danger': loadFromSiteState.warningColor, 'alert-success': !loadFromSiteState.warningColor}">
        {{loadFromSiteState.text}}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <button class="btn btn-danger" (click)="pricesUpdater.calculatePrices()"
      [disabled]="loadFromSiteState.warningColor || loadFromOnlinerState.warningColor">Рассчитать</button>
    </div>
  </div>

</div>
